<h1>profile</h1>
<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</p>
<h3>Name</h3>
<%= @user.name %>

<h3>Age</h3>
<%= @user.age %>
<h3>mail address</h3>
<%= @user.email %>