<div class="profile">

    <h1 class="title">Profile</h1>

    <div class="row">
      <div class="col-md-5">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar %>
          <% end %>
      </div>

      <div class="col-md-7">
        <h3 class="text-center mb-5 mt-5">Information Account </h3>
                    
                
        <table class="table">
          <tbody>
            
              <tr>
                <td>名前 </td>
                <td> : </td>
                <td><%= @user.name%></td>
              </tr>
              <tr>
                <td>メールアドレス </td>
                <td> : </td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>年齢 </td>
                <td> : </td>
                <td><%= @user.age %></td>
              </tr>
              
          </tbody>
        </table>
      </div>
    </div>
</div>